.container {
  display: flex;
  gap: 5rem;
  margin: 5.2rem auto;
  max-width: 1200px;
}

@media screen and (max-width: 960px) {
  .container {
    flex-direction: column;
    padding: 0 2rem;
  }
}

.right_col p {
  padding: 1.6rem 0 3.2rem;
}
