.button {
  font: inherit;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.3s, border-color 0.3s, color 0.3s;
}

.primary-btn {
  border: 1px solid var(--brand-primary);
  background: var(--brand-primary);
  color: white;
  padding: 1rem 2rem;

  &:hover {
    background: var(--dark-green);
    border-color: var(--dark-green);
  }
}

.secondary-btn {
  border: none;
  background: transparent;
  color: var(--brand-primary);
  padding: 1rem 2rem;

  &:hover {
    color: white;
    background: var(--dark-green);
    border-color: var(--dark-green);
  }
}

.primary-btn-large {
  border: 1px solid var(--brand-primary);
  background: var(--brand-primary);
  color: white;
  padding: 1.4rem 3.2rem;

  &:hover {
    background: var(--dark-green);
    border-color: var(--dark-green);
  }
}
